@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --google-cream-gray-shade: #e6e6dc;
  --google-blue: #4285f4;
  --google-red: #e94335;
  --google-yellow: #fbbc05;
  --google-green: #34a853;
  --google-gray-shade-9: #333333;
  --body-text: #555555;
  --google-gray-shade-7: #666666;
  --google-gray-shade-5: #999999;
  --google-med-lite-green: #7bd0a9;
  --google-gray-shade-10: #1a1a1a;
  --google-med-lite-red: #ed9c98;
  --google-dark-blue: #185abc;
  --google-dark-red: #b31412;
  --google-dark-yellow: #ea8600;
  --google-gray-shade-1: #f2f2f2;
  --google-med-lite-blue: #9fc2ff;
  --google-gray-shade-6: #808080;
  --google-med-lite-yellow: #ffe167;
  --google-gray-shade-4: #b2b2b2;
  --google-dark-green: #137333;
  --google-light-blue: #d2e3fc;
  --google-light-green: #ceead6;
  --google-med-blue: #77a7fb;
  --google-med-red: #e57368;
  --google-med-yellow: #fbcb43;
  --google-med-green: #34b67a;
  --google-gray-shade-2: #e6e6e6;
  --google-gray-shade-3: #cccccc;
  --google-gray-shade-8: #4d4d4d;
  --nav-inactive-color: #707070;
  --heading-color: #3c4043;
  --text-color: #5f6368;
  --button-shadow-color: #b3b3b3;
   --shadow: #43a047;
  --scrollbarBG: #eee;
  --thumbBG: #66bb6a;
  --border-color: #dadce0;
}


 html {
   scroll-behavior: smooth;
 }
 
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: var(--google-gray-shade-2);
}
::-webkit-scrollbar-thumb {
  background-color: var(--google-blue);
  box-shadow: 0 -100vh 0 100vh var(--google-yellow), 0 0 15px 5px black;
}